*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.team-member-container .heading{
    padding: 40px 0;
}
.team-member-container .heading h1{
    font-size: 52px;
}
.team-member-container .team-container{
    flex-wrap: wrap;
    padding: 40px 100px;
}
.team-member-container .team-container .mem,
.team-member-container .team-container .createdIn,
.team-member-container.team-container .awards{
    margin: 20px;
}
.team-member-container .team-container .mem .image{
    position: relative;
}
.team-member-container .team-container .mem .image .overlay{
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0.5;
    background-color: rgba(152, 212, 250, 0.5);
}
.team-member-container .team-container .mem .image:hover .overlay{
    opacity: 0;
}
.team-member-container .team-container .mem .image img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.team-member-container .team-container .mem .image .overlay-fade{
    height: 250px;
    width: 250px;
    top: 0;
    border-radius: 50%;
    /* left: 75px; */
    background-color: rgb(152, 212, 250);
}
.team-member-container .team-container .createdIn{
    transform: translate(50%, 40%);
}
.team-member-container .team-container .createdIn p{
    margin-bottom: -10px;
}
.team-member-container .team-container .createdIn h1{
    font-size: 52px;
}
.team-member-container .team-container .createdIn,
.team-member-container .team-container .UX-btn,
.team-member-container .team-container .founder-btn,
.team-member-container .team-container .advisor-btn,
.team-member-container .team-container .projects,
.team-member-container .team-container .creative-btn,
.team-member-container .team-container .developer-btn,
.team-member-container .team-container .fwa,
.team-member-container .team-container .associate-btn{
    background-color: rgb(243, 88, 88);
    color: #fff;
    font-weight: 600;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.team-member-container .team-container .founder-btn{
    transform: translate(15%, -20%);
}
.team-member-container .team-container .UX-btn h1,
.team-member-container .team-container .founder-btn h1,
.team-member-container .team-container .advisor-btn h1,
.team-member-container .team-container .associate-btn h1{
    font-size: 68px;
    margin-bottom: -10px;
    font-weight: 700;
}
.mem1{
    transform: translate(25%,15%);
}
.team-member-container .team-container .UX-btn{
    transform: translate(30%, -30%);
}
.team-member-container .team-container .UX-btn h1{
    font-weight: 300;
}


.team-member-container .team-container .advisor-btn{
    transform: translate(-250%, 50%);
}

.team-member-container .team-container .projects{
    transform: translate(200%, -55%);
}

.team-member-container .team-container .creative-btn{
    transform: translate(250%, -100%);
}
.team-member-container .team-container .developer-btn{
    transform: translate(-405%, 20%);
}
.team-member-container .team-container .fwa h1{
    margin-bottom: -5px;
}
.team-member-container .team-container .fwa{
    transform: translate(130%, -420%);
}
.team-member-container .team-container .associate-btn{
    transform: translate(140%, -380%);
}
.mem2{
    transform: translate(140%, -80%);
}

.team-member-container .team-container .mem3 .image img,
.team-member-container .team-container .mem4 .image img,
.team-member-container .team-container .mem6 .image img,
.team-member-container .team-container .mem9 .image img,
.team-member-container .team-container .mem10 .image img,
.team-member-container .team-container .mem11 .image img,
.team-member-container .team-container .mem12 .image img,
.team-member-container .team-container .mem13 .image img,
.team-member-container .team-container .mem14 .image img,
.team-member-container .team-container .mem15 .image img,
.team-member-container .team-container .mem16 .image img,
.team-member-container .team-container .mem18 .image img,
.team-member-container .team-container .mem19 .image img,
.team-member-container .team-container .awards,
.team-member-container .team-container .projects,
.team-member-container .team-container .pride{
    height: 180px;
    width: 180px;
}
.team-member-container .team-container .awards,
.team-member-container .team-container .pride{
    border-radius: 50%;
    color: #fff;
    background-color: #e9798b;
    transform: translate(0, -26%);
}
.team-member-container .team-container .awards h1{
    margin-bottom: -10px;
    font-size: 44px;
    font-weight: 600;
}
.team-member-container .team-container .projects h1{
    font-weight: 600;
    font-size: 52px;
    margin-bottom: -10px;
}
.team-member-container .team-container .projects p{
    margin: 0 70px;
}
.team-member-container .team-container .pride p{
    margin-bottom: -5px;
}
.team-member-container .team-container .pride h4{
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 28px;
}
.team-member-container .team-container .pride{
    transform: translate(65%, -90%);
}
.team-member-container .team-container .mem3 .image .overlay-fade,
.team-member-container .team-container .mem4 .image .overlay-fade,
.team-member-container .team-container .mem6 .image .overlay-fade,
.team-member-container .team-container .mem9 .image .overlay-fade,
.team-member-container .team-container .mem10 .image .overlay-fade,
.team-member-container .team-container .mem11 .image .overlay-fade,
.team-member-container .team-container .mem12 .image .overlay-fade,
.team-member-container .team-container .mem13 .image .overlay-fade,
.team-member-container .team-container .mem14 .image .overlay-fade,
.team-member-container .team-container .mem15 .image .overlay-fade,
.team-member-container .team-container .mem16 .image .overlay-fade,
.team-member-container .team-container .mem18 .image .overlay-fade,
.team-member-container .team-container .mem19 .image .overlay-fade{
    height: 180px;
    width: 180px;
}
.mem3{
    transform: translate(25%, -10%);
}
.mem4{
    transform: translate(0%, -60%);
}
.mem5{
    transform: translate(45%, -110%);
}
.mem6{
    transform: translate(70%, -85%);
}
.mem7{
    transform: translate(65%, -130%);
}
.mem9{
    transform: translate(100%, -127%);
}
.mem10{
    transform: translate(130%, -220%);
}
.mem11{
    transform: translate(-15%, -260%);
}
.mem12{
    transform: translate(40%, -260%);
}
.mem13{
    transform: translate(30%, -240%);
}
.mem14{
    transform: translate(20%, -340%);
}
.mem15{
    transform: translate(-5%, -190%);
}
.mem16{
    transform: translate(35%, -210%);
}
.mem17{
    transform: translate(20%, -185%);
}
.mem18{
    transform: translate(20%, -205%);
}
.mem19{
    transform: translate(100%, -270%);
}
.mem20{
    transform: translate(170%, -270%);
}
.team-member-container .team-container .mem8 .image img,
.team-member-container .team-container .mem20 .image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.team-member-container .team-container .mem8 .image .overlay-fade,
.team-member-container .team-container .mem20 .image .overlay-fade{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* left: 75px; */
    background-color: rgb(152, 212, 250);
}
.mem8{
    transform: translate(140%, -120%);
}
.team-member-container .team-container .partnership,
.team-member-container .team-container .mdesigner-btn,
.team-member-container .team-container .manager-btn,
.team-member-container .team-container .planner-btn,
.team-member-container .team-container .community-btn{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #7acef0;
    color: #fff;
}
.team-member-container .team-container .partnership{
    transform: translate(120%, -230%);
}
.team-member-container .team-container .partnership h1{
    margin-bottom: -1px;
}
.team-member-container .team-container .mdesigner-btn h5{
    font-weight: 700;
    margin-bottom: -5px;
}
.team-member-container .team-container .manager-btn h5,
.team-member-container .team-container .community-btn h5{
    font-weight: 600;
    margin-bottom: -5px;
}
.team-member-container .team-container .community-btn{
    transform: translate(120%, -480%);
}
.team-member-container .team-container .mdesigner-btn{
    transform: translate(80%, -340%);
}
.team-member-container .team-container .manager-btn{
    transform: translate(-40%, -270%);
}
.team-member-container .team-container .planner-btn{
    transform: translate(30%, -430%);
}
/* .team-member-container .team-container .mem1 .image::before{
    content: '';
    background: rgb(135, 206, 250, 0.5);
    background-size: 200px;
    border-radius: 50%;
} */