
.team-member-container .team-container{
    flex-wrap: wrap;
    padding: 50px 100px;
}


.team-member-container .team-container .mem{
    margin: 20px;
}
.team-member-container .team-container .mem .image{
    position: relative;
}
.team-member-container .team-container .mem .image .overlay{
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0.5;
    background-color: rgba(152, 212, 250, 0.5);
}
.team-member-container .team-container .mem .image:hover .overlay{
    opacity: 0;
}
.team-member-container .team-container .mem .image img,
.team-member-container .team-container .mem2 .image img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}
.team-member-container .team-container .mem .image .overlay-fade,
.team-member-container .team-container .mem2 .image .overlay-fade{
    height: 230px;
    width: 230px;
    top: 0;
    border-radius: 50%;
    /* left: 75px; */
    background-color: rgb(152, 212, 250);
}
.team-member-container .team-container .createdIn,
.team-member-container .team-container .UX-btn,
.team-member-container .team-container .founder-btn,
.team-member-container .team-container .advisor-btn,
.team-member-container .team-container .projects,
.team-member-container .team-container .creative-btn{
    background-color: rgb(243, 88, 88);
    color: #fff;
    font-weight: 600;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(30%,100%);
}
.team-member-container .team-container .createdIn h1,
.team-member-container .team-container .UX-btn h1,
.team-member-container .team-container .founder-btn h1,
.team-member-container .team-container .advisor-btn h1{
    font-size: 25px;
    margin-top: 25px;
    line-height: 0.6;
}
.mem1{
    transform: translate(15%,30%);
}
.team-member-container .team-container .UX-btn{
    transform: translate(-200%, 25%);
}
.team-member-container .team-container .UX-btn h1{
    /* font-size: 70px; */
    font-weight: 600;
    margin-top: 35px;
}

.team-member-container .team-container h4{
    font-size: 15px;
}

.team-member-container .team-container .founder-btn{
    transform: translate(-5%,40%);
}

.team-member-container .team-container .advisor-btn{
    transform: translate(-250%, 50%);
}

.team-member-container .team-container .projects{
    transform: translate(420%, -20%);
}

.team-member-container .team-container .creative-btn{
    transform: translate(665%,-90%);
}

.mem2{
    transform: translate(-30%, 50%);
}

.team-member-container .team-container .mem3 .image img,
.team-member-container .team-container .mem4 .image img,
.team-member-container .team-container .mem6 .image img,
.team-member-container .team-container .mem9 .image img,
.team-member-container .team-container .projects{
    height: 160px;
    width: 160px;
}

.team-member-container .team-container .mem3 .image .overlay-fade,
.team-member-container .team-container .mem4 .image .overlay-fade,
.team-member-container .team-container .mem6 .image .overlay-fade,
.team-member-container .team-container .mem9 .image .overlay-fade{
    height: 160px;
    width: 160px;
}
.mem3{
    transform: translate(-125%, 20%);
}
.mem4{
    transform: translate(485%, -170%);
}
.mem5{
    transform: translate(-40%, 5%);
}
.mem6{
    transform: translate(5%, -65%);
}
.mem9{
    transform: translate(95%, -130%);
}
/* .team-member-container .team-container .mem1 .image::before{
    content: '';
    background: rgb(135, 206, 250, 0.5);
    background-size: 200px;
    border-radius: 50%;
} */

/* ****************************************************************************************************************** */

/* .mentors-container,
.advisors-container,
.team-member-container{
    margin: 20px 0 70px 0;
}
.mentor,
.advisor,
.team-member{
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 450px;
    min-width:30%;
    box-shadow:  0 .5rem 1rem rgba(0,0,0,.15)!important
}
.mentors-container .heading,
.advisors-container .heading,
.team-member-container .heading{
    margin: 50px 0;
}
.mentor-container,
.advisor-container,
.teammate-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.mentor-details,
.advisor-details{
    font-size: 1.2rem;
    padding: 25px;
    text-align: center;
}
.mentor-image,
.advisor-image{
    width: 60%;
    height:90%;
    border-radius: 50%;
}

.mentor-name,
.advisor-name{
    font-weight: bold;
    font-size: 25px;
}
.mentor-name:hover,
.advisor-name:hover{
    text-decoration: none;
}
.image-container{
    padding-right:0px !important;
    padding-left: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;

}
.team-member-container .team-container .carousel-inner .carousel-item .team-member:hover .card:not(:hover){
    transform: scale(0.9);
}
.team-member-container .carousel .carousel-indicators{
    bottom: -45px;
}
.team-member-container .carousel .carousel-indicators li{
    background-color: #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
} */